.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #2e1000;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25rem;
	margin-top: 10rem;
	background-color: transparent;
	border: transparent;
}

.App-link {
	color: #61dafb;
}

#categorias {
	background-color: transparent !important;
	margin-top: 15rem;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
