body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-attachment: fixed;
	overflow: scroll;
	background-size: cover;
	background-image: var(--imgPrinc);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#main {
	display: flex;
	flex-direction: column;
}
.alert {
	position: fixed;
	align-self: center;
	width: 50rem;
	z-index: 1000;
}
#bg_cart {
	background-image: var(--imgCart);
}
#bg_cat {
	background-image: var(--imgCat);
}
#bg_user {
	background-image: var(--imgUser);
}
#bg_home {
	background-image: var(--imgPrinc);
}
#bg_form {
	background-image: var(--imgForm);
}
:root {
	--color1: #2e1000;
	--color2: #a36b52;
	--color3: #734a40;
	--color4: #f3ba7b;
	--color5: #010000;
	--color6: #800003;
	--rose: #f9bfb5;
	--blanco: #d0c681;
	--espumante: #f1e0aa;
	--tinto: #800003;
	--imgPrinc: url("./images/homeBackgroundLow.jpg");
	--imgForm: url("./images/formBackgroundLow.jpg");
	--imgCat: url("./images/catalogueBackgroundLow.jpg");
	--imgUser: url("./images/userBackgroundLow.jpg");
	--imgCart: url("./images/cartBackgroundLow.jpg");
}
