#card {
	margin-left: auto;
	margin-right: auto;
	width: 50rem;
	margin-top: 1rem;
}

#total {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 15rem;
	margin-top: 3rem;
	background-color: transparent;
	color: white;
	border-color: transparent;
}

#checkout {
	width: 15rem;
	margin: auto;
	background-color: transparent;
	border-color: transparent;
}

#emptyCart {
	width: 10rem;
	margin: auto;
}
