.catalogue {
	display: flex !important;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-self: auto;

	margin-top: 20px;
	margin-right: 80px;
}
.custom_checkbox {
	display: block;
}
.strains {
	position: fixed;
	left: 0;
	top: 8rem;
	text-align: left;
	background-color: #ffffff6b;
}
/* .espumante {
	color: var(--espumante);
}
.rose {
	color: var(--rose);
}
.blanco {
	color: var(--blanco);
}
.tinto {
	color: var(--tinto);
} */
.categoriaElegida {
	color: black !important;
}

#navegacion {
	font-size: 17px !important;
	background-color: #ffffffb0 !important;
	position: fixed; /* Set the navbar to fixed position */
	top: 50px; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 100;
}
body {
	/* The image used */
	/* Half height */
	height: 50%;
	/* Center and scale the image nicely */
	/*background-position: center; */
	background-attachment: fixed;
	overflow: scroll;
	background-size: cover;
}

.page-item .active {
	color: white !important;
}
