.catalogue {
	display: flex !important;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-self: auto;
}

#navegacion {
	font-size: 20px !important;
	background-color: #ffffff46 !important;
}
body {
	/* The image used */
	background-image: var(--imgCat);
	/* Half height */
	height: 50%;

	/* Center and scale the image nicely */
	/*background-position: center; */
	background-attachment: fixed;
	overflow: scroll;
	background-size: cover;
}
