#form1 {
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr; */
	/* gap: 25px; */
	color: #ffffff;
	text-align: left;
}

#contenedor {
	background-color: #ffffff;
	color: #000000;
}

#checkbox {
	transform: scale(2);
}
