#formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	color: var(--color4);
}

#checkbox {
	transform: scale(1.5);
}


body{
	/* The image used */
	background-image: var(--imgForm) 
}
