#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20rem;
	margin-top: 5rem;
	background-color: transparent;
	border: transparent;
}

#categorias {
	background-color: transparent !important;
	margin-top: 15rem;
	width: 100%;
	height: 10%;
}
body {
	/* The image used */
	background-image: var(--imgPrinc);
	/* Half height */
	height: 50%;

	/* Center and scale the image nicely */
	/*background-position: center; */
	background-attachment: fixed;
	overflow: scroll;
	background-size: cover;
}

.card{
	background-color: transparen;
	border: transparen;

}

.colorText{
	color: black;
	font-size: 30px;
	border: solid wheat 0.5;
	
}

.colorText:link, .colorText:visited, .colorText:active{
	text-decoration: none;
}


.imagenes{
	width: 250px;
	height: 200px;
	margin: 20px;
	border: 3px solid white;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.imagenes:hover{
	-webkit-transform:scale(1.3);transform:scale(1.29);
}