#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25rem;
	margin-top: 10rem;
	background-color: transparent;
	border: transparent;
}

#categorias {
	background-color: transparent !important;
	margin-top: 15rem;
}
body {
	/* The image used */
	background-image: var(--imgPrinc);
	/* Half height */
	height: 50%;

	/* Center and scale the image nicely */
	/*background-position: center; */
	background-attachment: fixed;
	overflow: scroll;
	background-size: cover;
}
