.bg-dark {
	display: flex;
	background-color: var(--color1) !important;
	height: 50px;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 100;
}

#carrito {
	margin-left: 1rem;
	margin-bottom: 0.5rem;
	transform: scale(1.5);
}

#navMain {
	display: flex;
	justify-content: space-between;
}
