.bg-dark {
	background-color: var(--color1) !important;
}

body {
	/* The image used */
	background-image: var(--imgPrinc);
	/* Half height */
	height: 50%;

	/* Center and scale the image nicely */
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: cover;
}

#carrito {
	margin-left: 1rem;
	margin-bottom: 0.5rem;
	transform: scale(1.5);
}
