.efecto:hover{
    border-radius:0%;
    -webkit-border-radius:0%;
    box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.5);
    transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    -webkit-transform:scale(1.3);transform:scale(1.1);
}
a > .card{
    color: black;
}
a:hover > .card{
    text-decoration: none;
}
.card-body-pd{
    display: grid;
    grid-template-rows: 2.5rem 2rem 1.5rem;
}
.card-sub-pd{ margin-top: 0.9rem; }
